#contents{
    display: flex;
    flex-direction: column;
    color: #303030;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    height: 300px;
    width: 300px;
    /* padding: 20px 0px 0px 40px; */
}
#bio{
    font-weight: normal;
    padding: 5px 0px 20px 0px;
}
.datingtext{
    font-size: 15px;
}
.name{
    font-size: 23px;
    font-weight: bold;
}
.datingimg{
    height: 19px;
    width: auto;
    padding-right: 20px;
    opacity: 70%;
}
.datingdiv{
    padding-bottom: 10px;
}

#dating_button{
    display: flex;
    justify-content: center;   
}