#contents{
    display: flex;
    flex-direction: column;
    color: #303030;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    height: 300px;
    width: 300px;
    /* padding: 20px 0px 0px 40px; */
}
#bio{
    font-weight: normal;
    padding: 5px 0px 20px 0px;
}
.datingtext{
    font-size: 15px;
}
.name{
    font-size: 23px;
    font-weight: bold;
}
<<<<<<< HEAD
<<<<<<< HEAD
/* img{
=======
.datingimg{
>>>>>>> master
=======
.datingimg{
>>>>>>> f05d0dc63e80a991fd640bcb3f3d9d29b2db0db3
    height: 19px;
    width: auto;
    padding-right: 20px;
    opacity: 70%;
<<<<<<< HEAD
<<<<<<< HEAD
} */
span{
=======
}
.datingdiv{
>>>>>>> master
=======
} */
.datingdiv{
>>>>>>> f05d0dc63e80a991fd640bcb3f3d9d29b2db0db3
    padding-bottom: 10px;
}

#dating_button{
    display: flex;
    justify-content: center;   
}