#dp_page {
    margin: 0 auto;
    width: 415px;
    height: 900px;
    background-color: #FAFAFA;
}

#dp_header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 40px 0;
}

#dp_header_icon {
    position: relative;
    right: 45px;
}

#dp_image {
    width: 375px;
    height: 420px;
    background-color: #3BA3A8;
    margin: 0 auto;
}

#dp_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}