#app{
    width: 414px;
    height: 900px;
    background-color:#FAFAFA;
}
.profileid {
   display: none;
}
#footerid{
    scale: 80%;
}
#logoid{
    background-image: url(logo.png);
    width: 25px;
    height: 20px;
    background-position:center;
    background-size:cover;
}
#upper{
    display:flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

#recommendid, #settingsid{
    font-weight: bold;
}
#scrollid{
    width: 9px;
    height: 130px;
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    position: absolute; 
    left: 395px;
    top:100px;
}