.mainP {
    width:414px;
    height:896px;
    background-color: #DEB;
    display:flex;

}
.msgFooter {
    position: relative;
    bottom:0;
    width:414px;
    height:62px;
    background-color: #BED;
}