.main {
    
}

.messagesHeader {
    width:414px;
    height:70px;
    /* background-color: #DAD; */
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    overflow: hidden;
    border-bottom: solid 1px #bfcbd8;
}
.messagesCont {
    overflow: scroll;
    width:414px;
    height:764px;
}
  
 