.footer {
    /* background-color: #BED; */
    width:414px;
    height:62px;
    display:flex;
   justify-content: center;
   position: relative;
   border-top: 2px solid lightgray;

}
.fotter {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:380px;
    height:62px;
    cursor: pointer;
}