#whole{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.face{
    width: 150px;
    height: auto;
    border-radius: 40px;
   
}

#box{
    display: flex;
    background-color: rgb(241, 241, 241);
    padding: 20px;
    width: 320px;
    height: 95px;
    margin: 10px;
}
.profiletext{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

#first_a{
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}
.second, #third_aa{
    font-weight: bold;
    font-size: small;
}
#third_aa{
    color: #303030;
    font-weight: normal;
}
#button1, #button3{
    background-color:#1E757E ;
    margin-right: 4px;
}
#button2{
    background-color:#ED2265 ;
}
#button1, #button2, #button3{
    height: 20px;
    width: 80px;
    color: #FAFAFA;
    border-radius: 15px;
    font-size: 9px;
    margin-top: 10px;
}

#button3:hover {
    background-color: rgb(45, 184, 199);
}
#button3 {
    cursor: pointer;}
